@model Exercises

<h1>Exercise 2</h1>

<div >
    <textarea asp-for="ListOfNumbers" class="form-control" rows="13"></textarea>
</div>
<div >
    <label>The sum of the even-valued terms is below Four million:</label>
    <input text asp-for="FinalAnswer" class="form-control" style="font-size:large" />
</div>

