@model Exercises

<h1>Exercise 1</h1>

<div >
    <textarea asp-for="ListOfNumbers" class="form-control" rows="13"></textarea>
</div>
<div >
    <label >sum of all the multiples of 3 or 5 below 1000</label>
    <input text asp-for="FinalAnswer" class="form-control" style="font-size:large" />
</div>

